body
{
	margin: 0;
	font-family: sans-serif;
}

canvas
{
	display: block;
}

.flex-container
{
	display: flex;
}

.sidebar
{
	padding: 10px;
	line-height: 150%;
	flex-grow: 1;
}

input
{
	width: 100%;
	font-family: monospace;
}

pre
{
	line-height: 100%;
}

#save
{
	position: absolute;
	bottom: 10px;
}
